<% if (strategy.list.length!=0) { %>
    <% strategy.list.forEach(function(item,index){ %>
        <div class="list-group">
            <a href="<%='/strategyDetailPage?id='+item.Id %>" class="list-group-item">
                <h4 class="list-group-item-heading text-center">标题：<%= item.Title %></h4>
                <p class="text-center">
                    <% item.Pictures.forEach(function(pic){ %>
                        <img src="<%= pic.url %>" style="width:120px;height:100px;margin:10px 10px 10px 0px;"/>
                    <% }) %>
                </p>
                <p class="list-group-item-text">地址：<%= item.Address %></p>
                <p class="list-group-item-text">发表时间：<%= moment(item.CreateTime).format('YYYY-MM-DD HH:mm:ss') %></p>
            </a>
        </div>
    <% }) %>
    <% if (strategy.count>0) { %>
        <nav class="text-center">
            <ul class="pagination">
                <% if (strategy.pageNo==1) { %>
                    <li class="disabled">
                <% }else{ %>
                    <li>
                <% } %>
                    <a href="<%= strategy.pageNo==1?'javascript:void(0)':'/'+strategy.name+'?pageNo='+(parseInt(strategy.pageNo)-1)%>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for(var i=0;i<Math.ceil(strategy.count/strategy.pageSize);i++){ %>
                    <% if ((i+1)==strategy.pageNo) { %>
                        <li class="active">
                    <% }else{ %>
                        <li>
                    <% } %>
                    <a href="<%= '/'+strategy.name+'?pageNo='+ (i+1) %>"><%= i+1 %></a></li>
                <% } %>
                <% if (strategy.pageNo==Math.ceil(strategy.count/strategy.pageSize)) { %>
                    <li class="disabled">
                <% }else{ %>
                    <li>
                <% } %>
                    <a href="<%= strategy.pageNo==Math.ceil(strategy.count/strategy.pageSize)?'javascript:void(0)':'/'+strategy.name+'?pageNo='+(parseInt(strategy.pageNo)+1)%>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    <% } %>
<% } else { %>
    <p class="lead"><mark>没有攻略信息</mark></p>
<% } %>
